[submodule "Tools/UnityTools"]
	path = Tools/UnityTools
	url = https://github.com/sclchuck/UnityTools.git
[submodule "Assets/Scripts/Tools"]
	path = Assets/Scripts/Tools
	url = https://github.com/sclchuck/UnityTools.git
